* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: Ariel, Tahoma;
}
/* To demonstrate the center */
.box {
    background-color: #eee;
    margin: 40px auto;
    width: 800px;
    height: 300px;
    position: relative;
}
.box::before {
    width: 4px;
    height: 100%;
    left: 50%;
    margin-left: -2px;
}
.box::after {
    height: 4px;
    width: 100%;
    top: 50%;
    margin-top: -2px;
}
.box::before,
.box::after {
    content: "";
    background-color: #3d0000;
    position: absolute;
}
.box .item {
    background-color: #ff0000;
    width: 200px;
    height: 100px;
    z-index: 2;
}
/* To demonstrate the center */

/* First method: Margin + Position */
/*
.box .item {
    position: absolute;
    left: 50%;
    margin-left: -100px;
    top: 50%;
    margin-top: -50px;
}
*/

/***********************************************************/

/* Second method: Position + Transform */
/*
.box .item {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
*/

/***********************************************************/

/* Third method: Flex */
.box {
    display: flex;
    justify-content: center;
    align-items: center;
}